html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    
    background-color: var(--font-сolor-white);
    color: var(--font-сolor-black-p);
    font-family: Roboto, sans-serif;
    letter-spacing: var(--letter-spacing-m)

    /* font-family: 'Raleway', sans-serif; */
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: currentColor;
}


button {
    font-family: inherit;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

:root {
    --background-button-main: #188CE8;
    --background-color-white: #FFFFFF;
    --background-color-black: #2F303A;
    --background-color-grey: #F5F4FA;
    --background-color-blue: #2196F3;
    --font-сolor-blue: #2196F3;
    --font-сolor-black-logo: #000000;
    --font-сolor-white: #FFFFFF;
    --font-сolor-black-p: #757575;
    --font-сolor-black-other: #212121;
    --font-color-border: #ECECEC;
    --font-color-footer-mail-tel: rgba(255, 255, 255, 0.6);
    --letter-spacing-s: 0.02em;
    --letter-spacing-m: 0.03em;
    --letter-spacing-l: 0.06em;
}

.button-main {
    text-align: center;
    margin-top: 30px;
    padding: 10px 32px;
    display: inline-block;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    background: var(--background-color-blue);
    color: var(--font-сolor-white);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    min-width: 200px;
    letter-spacing: var(--letter-spacing-l);
}



.button-main:hover,
.button-main:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    
    background: var(--background-button-main);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
    

.container {
    margin-left: auto;
    margin-right: auto;

    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    outline: 2px solid tomato;
}

/*---------- Header-------------- */

.header > .container {
    outline: 1px solid tomato;

    display: flex;
    align-items: center;
    height: 80px;
}

.header-border {
    border-bottom: 1px solid var(--font-color-border);
}

/* ---------Logo------------ */

.logo {
    font-size: 26px;
    line-height: 1.2;
    padding-top: 24px;
    padding-bottom: 25px;
}

.logo-blue {
    color: var(--font-сolor-blue);
    font-family: Raleway, sans-serif;
    letter-spacing: var(--letter-spacing-m);
}

.logo-black {
    color: var(--font-сolor-black-logo);
    font-family: Raleway, sans-serif;
    letter-spacing: var(--letter-spacing-m);
}

.logo-white {
    color: var(--font-сolor-white);
    font-family: Raleway, sans-serif;
    letter-spacing: var(--letter-spacing-m);
}



.header-relative {
    position: relative;
}

.header-relative::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;

    display: block;

    background: var(--background-color-blue);
    border-radius: 2px;

    margin-top: 28px;
}


.second.portfolio-head {
    position: relative;
}


.second.portfolio-head::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
        
    display: block;
        
    background: var(--background-color-blue);
    border-radius: 2px;
        
    margin-top: 28px;
}



/*------ Nav ---------*/

.block-nav {
    margin-left: 93px;
}

.site-nav .link {
    color: var(--font-сolor-black-other);
    padding-top: 32px;
    padding-bottom: 32px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav .link:hover, 
.site-nav .link:focus {
    color: var(--font-сolor-blue);
    
}

.link.studiya.first {
    color: var(--font-сolor-blue);
}

.site-nav, .mail-tel {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.studiya, .portfolio, .contacts, .mail, .tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: var(--letter-spacing-l);
}

.mail-tel .link {
    color: var(--font-сolor-black-p);
}

.link-tel {
    margin-left: 30px;
    padding-bottom: 32px;
    padding-top: 32px;
}

.link-mail {
    padding-bottom: 32px;
    padding-top: 32px;
}

.mail-tel {
    margin-left: auto;
}

.link.mail, .link.tel {
    display: flex;
    align-items: center;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link.mail:hover,
.link.mail:focus,
.link.tel:hover,
.link.tel:focus {
color: var(--background-button-main);

}

.link.mail:hover .link-evenlope,
.link.mail:focus .link-evenlope,
.link.tel:hover .link-smartphone,
.link.tel:focus .link-smartphone {
fill: var(--background-button-main);

}

.link-evenlope,
.link-smartphone {
    margin-right: 10px;
    display: block;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}








.link-pf-main {
    display: flex;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
}

/* ------------MAIN--------------- */

/* Блок Заголовок */

.block-title {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;

    background-color: var(--background-color-black);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main-jpg-squoosh/Img-6-2.jpg);
    max-width: 1600px;
    min-height: 600px;
    background-position: center;
    background-repeat: no-repeat;

    outline: 1px solid tomato;
}

.hero {
    max-width: 696px;
    color: var(--font-сolor-white);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: var(--letter-spacing-l);

    margin: 0 auto;

}









/* -------Модалньое окно ----------*/

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(142, 142, 142, 0.5);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    z-index: 1;
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 528px;
    height: 581px;

    background-color: var(--background-color-white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    padding: 40px;
    text-align: end;
}

.button-modal {
    width: 30px;
    height: 30px;
    background: var(--background-color-white);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    position: absolute;
    top: 8px;
    right: 8px;
}

.button-modal:hover {
    fill: var(--font-сolor-blue);
}

.modal-data-person {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    
    color: var(--font-сolor-black-other);
    text-align: center;
    margin-bottom: 12px;
}

.window {
    display: flex;
    flex-direction: column;
}

.field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.modal-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    
    color: var(--font-сolor-black-p);

    margin-bottom: 4px;
    text-align: start;
}

.field-div {
    position: relative;
}

.field-div:hover .modal-icon {
    fill: var(--font-сolor-blue);
}

.modal-block {
    padding: 11px 30px;
    width: 100%;
    height: 40px;
    
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    
}

.modal-block:hover {
    border: 1px solid var(--font-сolor-blue);
    border-radius: 4px;
}

.modal-block-comments {
    height: 120px;
    padding: 12px;
    margin-bottom: 12px;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    
    color: rgba(117, 117, 117, 0.5);
    resize: none;
}

.modal-block-comments::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    
    color: rgba(117, 117, 117, 0.5);
}

.modal-icon {
    position: absolute;
    left: 12px;
    top: 11px;
}

.treaty {
    text-decoration-line: underline;
    
    color: var(--font-сolor-blue);
}





.input-check:checked + .check-text .checkbox-span {
    background-color: var(--background-color-blue);
    background-image: url(../images/svg/Vector-2.svg);
    background-position: center;
    background-repeat: no-repeat;
    border: transparent;
}

.check-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    
    color: #757575;
}

.checkbox-span {
    display: inline-block;
    width: 16px;
    height: 15px;
    border-radius: 4px;
    border: 2px var(--font-сolor-black-other) solid;
}









.button-down {
    width: 200px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}



/* акценты в работе */

.for-business {
    padding-top: 94px;
    padding-bottom: 94px;

    outline: 1px solid tomato;
}

.list-s1 {
    padding-left: 0;
    display: flex;
}

.li-s1 {
    width: 300px;
    margin-right: 30px;
}

.forbusiness-li-div {
    margin-bottom: 30px;
    height: 120px;
    outline: 1px solid tomato;
    border-radius: 4px;
    background-color: var(--background-color-grey);
    display: flex;
    justify-content: center;
    align-items: center;
}

.li-s1:last-child {
    margin-right: 0;
}

.title-h2,
.list-s1 {
    margin-top: 0;
    margin-bottom: 0;
}

.title-s1 {
    margin-bottom: 10px;
    margin-top: 0;

    color: var(--font-сolor-black-other);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
}

.p-s1 {
    margin-bottom: 0;
    margin-top: 0;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.button-modal-bottom {
    margin: 0 auto;
}


/* виды работ */

.section2 {
    outline: 1px solid tomato;

    padding-bottom: 94px;
}

.title-s2 {
    margin-top: 0;
    margin-bottom: 50px;
    text-align: center;

    color: var(--font-сolor-black-other);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
}

.list-s2 {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
}

.li-work-2 {
    margin-right: 30px;
    margin-left: 30px;
}

.li-work {
    position: relative;
}

.desktop-div {
    position: absolute;
    bottom: 0;

    width: 370px;
    height: 70px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    background: rgba(47, 48, 58, 0.8);
    color: var(--font-сolor-white);

    padding: 27px 0 27px;
}




/* состав команды */
.team {
    background-color: var(--background-color-grey);
    padding-top: 94px;
    padding-bottom: 94px;

    outline: 1px solid tomato;
}

.team-bg {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    background-color: var(--background-color-white);
    margin-right: 30px;
    padding-bottom: 30px;
}

.team-bg:last-child {
    margin-right: 0;
}

.team-description {
    padding-top: 30px;
    padding-bottom: 16px;
}

.title-s3 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 50px;

    color: var(--font-сolor-black-other);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
}

.list-s3 {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
}

.name-s3 {
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;

    color: var(--font-сolor-black-other);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.job-s3 {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
}


/* Команда социальные сети */

.team-soc-net {
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding-left: 32px;
    padding-right: 32px;
}

.soc-link {
    display: flex;
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    fill: #AFB1B8;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-link:hover,
.soc-link:focus {
background-color: var(--background-color-blue);
fill: var(--font-сolor-white);

}

/* --------Постоянные клиенты---------- */

.clients {
    padding-top: 94px;
    padding-bottom: 94px;
}

.main-clients {
    margin-bottom: 50px;
    display: block;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--font-сolor-black-other);
}

.main-clients-li {
    
}

.main-clients-list {
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
}


.main-clients-link:hover .name-company,
.main-clients-link:focus .name-company {
    fill: var(--font-сolor-blue);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
    

.main-clients-link {
    color: #AFB1B8;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
}

.main-clients-link:hover,
.main-clients-link:focus {
    border: 1px solid #2196F3;
    
}



.name-company {
    width: 106px;
    height: 60px;
    fill: #AFB1B8;
}




/* контакты поддержки */

.footer {
    background-color: var(--background-color-black);

    outline: 1px solid tomato;
    padding-top: 60px;
    padding-bottom: 60px;
}

.container.footer {
    display: flex;
}

.footer-logo-adress {
    margin-right: 70px;
}

.location {
    color: var(--font-сolor-white);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;
}

.mail-footer-li {
    margin-top: 9px;
    margin-bottom: 9px;
}

.mail-footer,
.tel-nom {
    color: var(--font-color-footer-mail-tel);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-footer:hover,
.mail-footer:focus {
    color: var(--font-сolor-blue);
    
}

.tel-nom:hover,
.tel-nom:focus {
    color: var(--font-сolor-blue);
}



.footer-container {
    display: flex;
}

.address {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    margin-top: 20px;
}

.footer-connent-networks {
    padding-top: 12px;
    margin-right: 93px;
}

.conect {
    margin-top: 0;
    margin-bottom: 20px;

    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: var(--font-сolor-white)
}

.team-soc-net-footer {
    display: flex;
    gap: 10px;
}

.soc-link-footer {
    display: flex;
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    fill: var(--font-сolor-white);
    background-color:  rgba(255, 255, 255, 0.1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-link-footer:hover,
.soc-link-footer:focus {
    background-color: var(--background-color-blue);
    
}


.subscription {
    padding-top: 12px;
}

.subscription-header {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    
    color: var(--font-сolor-white);

    margin-bottom: 20px;
}

.subscription-email-button {
    display: flex;
    align-items: center;
}

.subscription-email {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;

    display: flex;
    align-items: center;
    
    color: rgba(255, 255, 255, 0.6);
    background-color: transparent;

    width: 358px;
    height: 50px;
    
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding-left: 12px;
    margin-right: 12px;

}

.subscription-button {
    margin: 0 auto;
    display: flex;
    padding: 10px 28px;
    width: 200px;
    height: 50px;
}

.icon-send {
    margin-left: 10px;
}






/* ------------Portfolio.html ---------------*/

.main-portfolio {
    outline: 1px solid tomato;

    padding-top: 94px;
    padding-bottom: 94px;
}

.img-pf {
    display: block;
}

.title-fhoto-pf {
    border: 1px solid #EEEEEE;
    border-top: none;
    padding: 20px 24px;
}

.link.portfolio.second {
    color: var(--font-сolor-blue);
}

.button-portfolio-all:hover,
.button-portfolio-websites:hover,
.button-portfolio-apps:hover,
.button-portfolio-design:hover,
.button-portfolio-marketing:hover {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    color: var(--font-сolor-white);
    background-color: var(--background-color-blue);
    
}

.button-portfolio-all:focus,
.button-portfolio-websites:focus,
.button-portfolio-apps:focus,
.button-portfolio-design:focus,
.button-portfolio-marketing:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    color: var(--font-сolor-white);
    background-color: var(--background-color-blue);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-portfolio {
    border: none;
    border-radius: 4px;
    text-align: center;
    padding: 6px 22px;
    display: inline-block;

    background-color: var(--background-color-grey);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
}

.button-portfolio-all {
    min-width: 73px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-portfolio-websites {
    min-width: 128px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-portfolio-apps {
    min-width: 145px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-portfolio-design {
    min-width: 103px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-portfolio-marketing {
    min-width: 130px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ul-button {
    margin-bottom: 50px;
    margin-top: 0;
    padding-left: 0;
    display: flex;
    justify-content: center;
}

.pf-li-but-all,
.pf-li-but-ws,
.pf-li-but-apps,
.pf-li-but-des,
.pf-li-but-mark {
    margin-right: 8px;
}

.ul-portfolio {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
}


.li-pf-img {
    margin-right: 30px;
    margin-bottom: 30px;
}






.pf-main-foto {
    position: relative;
    overflow: hidden;
}

.portf-text-resurse {
    position: absolute;
    top: 0;
    left: 0;

    font-size: 18px;
    line-height: 1.56;
    letter-spacing: var(--letter-spacing-m);
    color: var(--font-сolor-white);

    min-height: 294px;
    padding: 63px 24px;
    background-color: rgba(33, 150, 243, 0.9);
    
    transform: translateY(100%);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pf-main-foto:hover .portf-text-resurse {
    transform: translateY(0%);
}

.link-pf:focus .portf-text-resurse {
    transform: translateY(0%);
}





.li-pf-img:hover,
.li-pf-img:focus {
    background: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.li-pf-img:nth-child(3n) {
    margin-right: 0px;
}

.li-pf-img:nth-last-child(-n+3) {
    margin-bottom: 0px;
}

.title-img {
    margin-top: 0;
    margin-bottom: 0;

    color: var(--font-сolor-black-other);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: var(--letter-spacing-l);
}

.p-portfolio {
    color: var(--font-сolor-black-p);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    margin-top: 4px;
    margin-bottom: 0;
}



