.clients {
    padding-top: 94px;
    padding-bottom: 94px;
}

.lients__main {
    margin-bottom: 50px;
    display: block;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--font-сolor-black-other);
}

.clients__list {
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
}



.clients__link {
    color: #AFB1B8;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    &:hover,
    &:focus {
        border: 1px solid #2196F3;
    }
}



.clients__link--company {
    width: 106px;
    height: 60px;
    fill: #AFB1B8;
    .clients__link:hover &,
    .clients__link:focus & {
        fill: var(--font-сolor-blue);
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}