.team {
    background-color: var(--background-color-grey);
    padding-top: 94px;
    padding-bottom: 94px;
}

.team__list {
    gap: 30px;
}

.team__bloc {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    background-color: var(--background-color-white);
    padding-bottom: 30px;
}

.team__description {
    padding-top: 30px;
    padding-bottom: 16px;
}

.team__title {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 50px;

    color: var(--font-сolor-black-other);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
}

.team__list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
}

.team__bloc--name {
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;

    color: var(--font-сolor-black-other);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.team__bloc--speciality {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
}